.footer {
    background-color: $primaty-bc-color;
    padding: 60px 0;
}
.footer-colum {
    display: flex;
    align-items: baseline;
}
.footer-colum-list {
    margin-right: 70px;
}
.footer__logo {
    display: block;
    margin-bottom: 20px;
}
.footer__secondary {
    color: $primary-header-color;
}

.footer-place__list {
    margin-bottom: 9px;
}

.footer-place__list:last-child {
    margin-bottom: 0;
}
.footer-place__mail {
    display: inline-block;
}
.footer-place__phone {
    display: inline-block;
}
